*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card{
    
    
    border-radius: 15px ;
    margin: 10px auto;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    max-width: 320px;
    background-size: contain;
    background: #20293A;
    /* padding: 10px; */
}

.image{
    max-width: 320px;
}

.titre{
    
    color: white;
    text-align: start;
    margin: 10px 10px;
}

.texte{
    color: lightgray;
    text-align: start;
    margin: 10px;
}

.btn-card{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 10px;
}
 
.btn-card a{
    text-decoration: none;
    color: white;
}
.btn{
    border: 1px none;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 2;
    text-align: center;
    width: 160px;
}
.btn-bleu{
    background: #4E81EE;
}

.btn-gris{
    background: #364154;
}